$DIMENSIONS_MAX: 1000 !default;
$DIMENSIONS_STEP: 5 !default;
$SPACING_MAX: 200 !default;
$SPACING_STEP: 5 !default;
$OFFSET_MAX: 200 !default;
$OFFSET_STEP: 5 !default;
$FONT_SIZES_IN_PX: 10, 12, 14, 16, 18, 20, 48, 54 !default;

$FLEX_GRID_SIZES: 1, 2, 4 !default;
$FLEX_GRID_GUTTERS_IN_PX: 0, 20, 40 !default;

$TRANSFORM_ROTATION_DEG_STEP: 15;
$TRANSFORM_TRANSLATE_STEP: 15;

$CLR_BG_PALLETE: #e5e5e5, #ffffff !default;
$CLR_TEXT_PALLETE: #1a1a1a, #df5541 !default;

$BREAKPOINT_XS: 400px !default;
$BREAKPOINT_SM: 560px !default;
$BREAKPOINT_MD: 768px !default;
$BREAKPOINT_LG: 1024px !default;
$BREAKPOINT_XL: 1248px !default;
$BREAKPOINT_XXL: 1440px !default;

@import "./abstracts/functions/color";
@import "./abstracts/functions/path";
@import "./abstracts/mixins/absolute_center";
@import "./abstracts/mixins/arrow";
@import "./abstracts/mixins/breakpoint";
@import "./abstracts/mixins/clearfix";
@import "./abstracts/mixins/ellipsis";
@import "./abstracts/mixins/flex_grid";
@import "./abstracts/mixins/font_face";
@import "./abstracts/mixins/font_size";
@import "./abstracts/mixins/gradient";
@import "./abstracts/mixins/hover";
@import "./abstracts/mixins/input_placeholder";
@import "./abstracts/mixins/mq";
@import "./abstracts/mixins/retina";
@import "./abstracts/mixins/scrollbar";
@import "./abstracts/mixins/user_select_none";
@import "./abstracts/mixins/rule";

@import "./components/flex_grid";

@import "./rules/box";
@import "./rules/cursor";
@import "./rules/dimensions";
@import "./rules/display";
@import "./rules/flex";
@import "./rules/font";
@import "./rules/list";
@import "./rules/offset";
@import "./rules/overflow";
@import "./rules/opacity";
@import "./rules/position";
@import "./rules/print";
@import "./rules/spacing";
@import "./rules/text";
@import "./rules/transform";
