@mixin flex-grid($spacing) {
  display: flex;
  margin-left: -$spacing + px;
  margin-right: -$spacing + px;
}

@mixin flex-grid-col($width, $spacing) {
  flex: 0 0 auto;
  flex-basis: $width;
  max-width: $width;
  padding-left: ($spacing + px);
  padding-right: ($spacing + px);
}
