@include class("bg_n") { background:none; }

@include class("bgc_u") { background-color: unset; }
@include class("bgc_t") { background-color: transparent; }
@each $name, $color in $CLR_BG_PALLETE {
  @include class("bg_#{$name}") { background-color: $color; }
}

@include class("bgi_n") { background-image: none; }

@include class("bgr_n") { background-repeat: no-repeat; }
@include class("bgr_x") { background-repeat: repeat-x; }
@include class("bgr_y") { background-repeat: repeat-y; }
@include class("bgr_sp") { background-repeat: space; }
@include class("bgr_rd") { background-repeat: round; }

@include class("bga_f") { background-attachment: fixed; }
@include class("bga_s") { background-attachment: scroll; }
@include class("bgp_0_0") { background-position: 0 0; }

@include class("bgcp_bb") { background-clip:border-box; }
@include class("bgcp_pb") { background-clip:padding-box; }
@include class("bgcp_cb") { background-clip:content-box; }
@include class("bgcp_nc") { background-clip:no-clip; }

@include class("bgo_pb") { background-origin:padding-box; }
@include class("bgo_bb") { background-origin:border-box; }
@include class("bgo_cb") { background-origin:content-box; }

@include class("bgsz_a") { background-size:auto; }
@include class("bgsz_ct") { background-size:contain; }
@include class("bgsz_cv") { background-size:cover; }