@include class("bd_n") { border: none; }
@include class("bdt_n") { border-top: none; }
@include class("bdb_n") { border-bottom: none; }
@include class("bdl_n") { border-left: none; }
@include class("bdr_n") { border-right: none; }

@each $name, $value in $BORDERS {
  @include class("bd_#{$name}") { border: $value }
  @include class("bdt_#{$name}") { border-top: $value; }
  @include class("bdb_#{$name}") { border-bottom: $value; }
  @include class("bdl_#{$name}") { border-left: $value; }
  @include class("bdr_#{$name}") { border-right: $value; }
}

@include class("bdrs_50p") { border-radius: 50%; }
@each $value in $BORDER_RADIUSES_IN_PX {
  @include class("bdrs_#{$value}") { border-radius: $value + px; }
}
