@include class("bxz") { box-sizing: border-box; }
@include class("bxz_cb") { box-sizing: content-box; }
@include class("bxz_bb") { box-sizing: border-box; }
@include class("bxsh_n") { box-shadow: none; }
