
@include class("fx_1") { flex: 1; }
@include class("fx_00a") { flex: 0 0 auto; }

@for $i from 1 through 20 {
  $val: $i * 5;
  @include class("fxb_#{$val}p") { flex-basis: unquote($val + "%"); }
}

@include class("fxd_c") { flex-direction: column; }
@include class("fxd_cr") { flex-direction: column-reverse; }
@include class("fxd_r") { flex-direction: row; }
@include class("fxd_rr") { flex-direction: row-reverse; }

@include class("fxw_n") { flex-wrap: nowrap; }
@include class("fxw_w") { flex-wrap: wrap; }
@include class("fxw_wr") { flex-wrap: wrap-reverse; }

@include class("jc_u") { justify-content: unset; }
@include class("jc_c") { justify-content: center; }
@include class("jc_fe") { justify-content: flex-end; }
@include class("jc_fs") { justify-content: flex-start; }
@include class("jc_sa") { justify-content: space-around; }
@include class("jc_sb") { justify-content: space-between; }

@include class("ac_c") { align-content: center; }
@include class("ac_fe") { align-content: flex-end; }
@include class("ac_fs") { align-content: flex-start; }
@include class("ac_s") { align-content: stretch; }
@include class("ac_sa") { align-content: space-around; }
@include class("ac_sb") { align-content: space-between; }

@include class("ai_b") { align-items: baseline; }
@include class("ai_c") { align-items: center; }
@include class("ai_fe") { align-items: flex-end; }
@include class("ai_fs") { align-items: flex-start; }
@include class("ai_s") { align-items: stretch; }

@include class("ord_u") { order: unset; }
@include class("ord_-1") { order: -1; }