@include class("fw_n") { font-weight: normal; }
@include class("fw_b") { font-weight: bold; }
@include class("fw_br") { font-weight: bolder; }
@include class("fw_lr") { font-weight: lighter; }
@include class("fw_100") { font-weight: 100; }
@include class("fw_200") { font-weight: 200; }
@include class("fw_300") { font-weight: 300; }
@include class("fw_400") { font-weight: 400; }
@include class("fw_500") { font-weight: 500; }
@include class("fw_600") { font-weight: 600; }
@include class("fw_700") { font-weight: 700; }
@include class("fw_800") { font-weight: 800; }
@include class("fw_900") { font-weight: 900; }

@include class("fs_n") { font-style: normal; }
@include class("fs_i") { font-style: italic; }
@include class("fs_o") { font-style: oblique; }

@each $val in $FONT_SIZES_IN_PX {
  @include class("fz_#{$val}") { font-size: $val + px; }
}

@each $name, $val in $FONT_FAMILIES {
  @include class("ff_#{$name}") { font-family: $val; }
}