@for $i from 0 through (360 / $TRANSFORM_ROTATION_DEG_STEP) {
  $deg: $i * $TRANSFORM_ROTATION_DEG_STEP;

  .trf_r_#{$deg} { transform: rotate($deg + deg); }
  .trf_rx_#{$deg} { transform: rotateX($deg + deg); }
  .trf_ry_#{$deg} { transform: rotateY($deg + deg); }
  .trf_rz_#{$deg} { transform: rotateZ($deg + deg); }
}

// .trf_sc { transform: scale(x, y); }
// .trf_sc3 { transform: scale3d(x, y, z); }
// .trf_scx { transform: scaleX(x); }
// .trf_scy { transform: scaleY(y); }
// .trf_scz { transform: scaleZ(z); }

// .trf_skx { transform: skewX(angle); }
// .trf_sky { transform: skewY(angle); }

// .trf_t { transform: translate(x, y); }
// .trf_t3 { transform: translate3d(tx, ty, tz); }
// .trf_tx { transform: translateX(x); }
// .trf_ty { transform: translateY(y); }
// .trf_tz { transform: translateZ(z); }

// .trfo_ { transform-origin: ; }
// .trfs_ { transform-style:preserve-3d; }