@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
}

$BREAKPOINT_XS: 400px;
$BREAKPOINT_SM: 560px;
$BREAKPOINT_MD: 768px;
$BREAKPOINT_LG: 1024px;
$BREAKPOINT_XL: 1248px;
$BREAKPOINT_XXL: 1440px;

@mixin each_breakpoint($selector) {
  @media only screen and (min-width: $BREAKPOINT_XS) {
    .mq-xs\:#{$selector} {
      @content;
    }
  }
  @media only screen and (min-width: $BREAKPOINT_SM) {
    .mq-sm\:#{$selector} {
      @content;
    }
  }
  @media only screen and (min-width: $BREAKPOINT_MD) {
    .mq-md\:#{$selector} {
      @content;
    }
  }
  @media only screen and (min-width: $BREAKPOINT_LG) {
    .mq-lg\:#{$selector} {
      @content;
    }
  }
  @media only screen and (min-width: $BREAKPOINT_XL) {
    .mq-xl\:#{$selector} {
      @content;
    }
  }
  @media only screen and (min-width: $BREAKPOINT_XXL) {
    .mq-xxl\:#{$selector} {
      @content;
    }
  }
}

// @include breakpoint(large) {
//   div {
//      font-size: 2rem;
//      line-height: 1.4;
//   }
// }
