@media only screen and (min-width: 768px) {
.md\:w_a, .md\:w_a\:h:hover { width: auto; }
.md\:w_50, .md\:w_50\:h:hover { width: 50px; }
.md\:miw_50, .md\:miw_50\:h:hover { min-width: 50px; }
.md\:maw_50, .md\:maw_50\:h:hover { max-width: 50px; }
.md\:w_100, .md\:w_100\:h:hover { width: 100px; }
.md\:miw_100, .md\:miw_100\:h:hover { min-width: 100px; }
.md\:maw_100, .md\:maw_100\:h:hover { max-width: 100px; }
.md\:w_100\%, .md\:w_100\%\:h:hover { width: 100%; }
.md\:miw_100\%, .md\:miw_100\%\:h:hover { min-width: 100%; }
.md\:maw_100\%, .md\:maw_100\%\:h:hover { max-width: 100%; }
.md\:h_a, .md\:h_a\:h:hover { height: auto; }
.md\:h_50, .md\:h_50\:h:hover { height: 50px; }
.md\:mih_50, .md\:mih_50\:h:hover { min-height: 50px; }
.md\:mah_50, .md\:mah_50\:h:hover { max-height: 50px; }
.md\:h_100, .md\:h_100\:h:hover { height: 100px; }
.md\:mih_100, .md\:mih_100\:h:hover { min-height: 100px; }
.md\:mah_100, .md\:mah_100\:h:hover { max-height: 100px; }
.md\:m_0, .md\:m_0\:h:hover { margin: 0px; }
.md\:mt_0, .md\:mt_0\:h:hover { margin-top: 0px; }
.md\:mb_0, .md\:mb_0\:h:hover { margin-bottom: 0px; }
.md\:mver_0, .md\:mver_0\:h:hover { margin-top: 0px; margin-bottom: 0px; }
.md\:ml_0, .md\:ml_0\:h:hover { margin-left: 0px; }
.md\:mr_0, .md\:mr_0\:h:hover { margin-right: 0px; }
.md\:mhor_0, .md\:mhor_0\:h:hover { margin-left: 0px; margin-right: 0px; }
.md\:m_5, .md\:m_5\:h:hover { margin: 5px; }
.md\:mt_5, .md\:mt_5\:h:hover { margin-top: 5px; }
.md\:mb_5, .md\:mb_5\:h:hover { margin-bottom: 5px; }
.md\:mver_5, .md\:mver_5\:h:hover { margin-top: 5px; margin-bottom: 5px; }
.md\:ml_5, .md\:ml_5\:h:hover { margin-left: 5px; }
.md\:mr_5, .md\:mr_5\:h:hover { margin-right: 5px; }
.md\:mhor_5, .md\:mhor_5\:h:hover { margin-left: 5px; margin-right: 5px; }
.md\:m_10, .md\:m_10\:h:hover { margin: 10px; }
.md\:mt_10, .md\:mt_10\:h:hover { margin-top: 10px; }
.md\:mb_10, .md\:mb_10\:h:hover { margin-bottom: 10px; }
.md\:mver_10, .md\:mver_10\:h:hover { margin-top: 10px; margin-bottom: 10px; }
.md\:ml_10, .md\:ml_10\:h:hover { margin-left: 10px; }
.md\:mr_10, .md\:mr_10\:h:hover { margin-right: 10px; }
.md\:mhor_10, .md\:mhor_10\:h:hover { margin-left: 10px; margin-right: 10px; }
.md\:m_15, .md\:m_15\:h:hover { margin: 15px; }
.md\:mt_15, .md\:mt_15\:h:hover { margin-top: 15px; }
.md\:mb_15, .md\:mb_15\:h:hover { margin-bottom: 15px; }
.md\:mver_15, .md\:mver_15\:h:hover { margin-top: 15px; margin-bottom: 15px; }
.md\:ml_15, .md\:ml_15\:h:hover { margin-left: 15px; }
.md\:mr_15, .md\:mr_15\:h:hover { margin-right: 15px; }
.md\:mhor_15, .md\:mhor_15\:h:hover { margin-left: 15px; margin-right: 15px; }
.md\:m_20, .md\:m_20\:h:hover { margin: 20px; }
.md\:mt_20, .md\:mt_20\:h:hover { margin-top: 20px; }
.md\:mb_20, .md\:mb_20\:h:hover { margin-bottom: 20px; }
.md\:mver_20, .md\:mver_20\:h:hover { margin-top: 20px; margin-bottom: 20px; }
.md\:ml_20, .md\:ml_20\:h:hover { margin-left: 20px; }
.md\:mr_20, .md\:mr_20\:h:hover { margin-right: 20px; }
.md\:mhor_20, .md\:mhor_20\:h:hover { margin-left: 20px; margin-right: 20px; }
.md\:m_25, .md\:m_25\:h:hover { margin: 25px; }
.md\:mt_25, .md\:mt_25\:h:hover { margin-top: 25px; }
.md\:mb_25, .md\:mb_25\:h:hover { margin-bottom: 25px; }
.md\:mver_25, .md\:mver_25\:h:hover { margin-top: 25px; margin-bottom: 25px; }
.md\:ml_25, .md\:ml_25\:h:hover { margin-left: 25px; }
.md\:mr_25, .md\:mr_25\:h:hover { margin-right: 25px; }
.md\:mhor_25, .md\:mhor_25\:h:hover { margin-left: 25px; margin-right: 25px; }
.md\:m_30, .md\:m_30\:h:hover { margin: 30px; }
.md\:mt_30, .md\:mt_30\:h:hover { margin-top: 30px; }
.md\:mb_30, .md\:mb_30\:h:hover { margin-bottom: 30px; }
.md\:mver_30, .md\:mver_30\:h:hover { margin-top: 30px; margin-bottom: 30px; }
.md\:ml_30, .md\:ml_30\:h:hover { margin-left: 30px; }
.md\:mr_30, .md\:mr_30\:h:hover { margin-right: 30px; }
.md\:mhor_30, .md\:mhor_30\:h:hover { margin-left: 30px; margin-right: 30px; }
.md\:m_35, .md\:m_35\:h:hover { margin: 35px; }
.md\:mt_35, .md\:mt_35\:h:hover { margin-top: 35px; }
.md\:mb_35, .md\:mb_35\:h:hover { margin-bottom: 35px; }
.md\:mver_35, .md\:mver_35\:h:hover { margin-top: 35px; margin-bottom: 35px; }
.md\:ml_35, .md\:ml_35\:h:hover { margin-left: 35px; }
.md\:mr_35, .md\:mr_35\:h:hover { margin-right: 35px; }
.md\:mhor_35, .md\:mhor_35\:h:hover { margin-left: 35px; margin-right: 35px; }
.md\:m_40, .md\:m_40\:h:hover { margin: 40px; }
.md\:mt_40, .md\:mt_40\:h:hover { margin-top: 40px; }
.md\:mb_40, .md\:mb_40\:h:hover { margin-bottom: 40px; }
.md\:mver_40, .md\:mver_40\:h:hover { margin-top: 40px; margin-bottom: 40px; }
.md\:ml_40, .md\:ml_40\:h:hover { margin-left: 40px; }
.md\:mr_40, .md\:mr_40\:h:hover { margin-right: 40px; }
.md\:mhor_40, .md\:mhor_40\:h:hover { margin-left: 40px; margin-right: 40px; }
.md\:m_45, .md\:m_45\:h:hover { margin: 45px; }
.md\:mt_45, .md\:mt_45\:h:hover { margin-top: 45px; }
.md\:mb_45, .md\:mb_45\:h:hover { margin-bottom: 45px; }
.md\:mver_45, .md\:mver_45\:h:hover { margin-top: 45px; margin-bottom: 45px; }
.md\:ml_45, .md\:ml_45\:h:hover { margin-left: 45px; }
.md\:mr_45, .md\:mr_45\:h:hover { margin-right: 45px; }
.md\:mhor_45, .md\:mhor_45\:h:hover { margin-left: 45px; margin-right: 45px; }
.md\:m_50, .md\:m_50\:h:hover { margin: 50px; }
.md\:mt_50, .md\:mt_50\:h:hover { margin-top: 50px; }
.md\:mb_50, .md\:mb_50\:h:hover { margin-bottom: 50px; }
.md\:mver_50, .md\:mver_50\:h:hover { margin-top: 50px; margin-bottom: 50px; }
.md\:ml_50, .md\:ml_50\:h:hover { margin-left: 50px; }
.md\:mr_50, .md\:mr_50\:h:hover { margin-right: 50px; }
.md\:mhor_50, .md\:mhor_50\:h:hover { margin-left: 50px; margin-right: 50px; }
.md\:m_-80, .md\:m_-80\:h:hover { margin: -80px; }
.md\:mt_-80, .md\:mt_-80\:h:hover { margin-top: -80px; }
.md\:mb_-80, .md\:mb_-80\:h:hover { margin-bottom: -80px; }
.md\:mver_-80, .md\:mver_-80\:h:hover { margin-top: -80px; margin-bottom: -80px; }
.md\:ml_-80, .md\:ml_-80\:h:hover { margin-left: -80px; }
.md\:mr_-80, .md\:mr_-80\:h:hover { margin-right: -80px; }
.md\:mhor_-80, .md\:mhor_-80\:h:hover { margin-left: -80px; margin-right: -80px; }
.md\:p_0, .md\:p_0\:h:hover { padding: 0px; }
.md\:pt_0, .md\:pt_0\:h:hover { padding-top: 0px; }
.md\:pb_0, .md\:pb_0\:h:hover { padding-bottom: 0px; }
.md\:pv_0, .md\:pv_0\:h:hover { padding-top: 0px; padding-bottom: 0px; }
.md\:pl_0, .md\:pl_0\:h:hover { padding-left: 0px; }
.md\:pr_0, .md\:pr_0\:h:hover { padding-right: 0px; }
.md\:ph_0, .md\:ph_0\:h:hover { padding-left: 0px; padding-right: 0px; }
.md\:p_5, .md\:p_5\:h:hover { padding: 5px; }
.md\:pt_5, .md\:pt_5\:h:hover { padding-top: 5px; }
.md\:pb_5, .md\:pb_5\:h:hover { padding-bottom: 5px; }
.md\:pv_5, .md\:pv_5\:h:hover { padding-top: 5px; padding-bottom: 5px; }
.md\:pl_5, .md\:pl_5\:h:hover { padding-left: 5px; }
.md\:pr_5, .md\:pr_5\:h:hover { padding-right: 5px; }
.md\:ph_5, .md\:ph_5\:h:hover { padding-left: 5px; padding-right: 5px; }
.md\:p_10, .md\:p_10\:h:hover { padding: 10px; }
.md\:pt_10, .md\:pt_10\:h:hover { padding-top: 10px; }
.md\:pb_10, .md\:pb_10\:h:hover { padding-bottom: 10px; }
.md\:pv_10, .md\:pv_10\:h:hover { padding-top: 10px; padding-bottom: 10px; }
.md\:pl_10, .md\:pl_10\:h:hover { padding-left: 10px; }
.md\:pr_10, .md\:pr_10\:h:hover { padding-right: 10px; }
.md\:ph_10, .md\:ph_10\:h:hover { padding-left: 10px; padding-right: 10px; }
.md\:p_15, .md\:p_15\:h:hover { padding: 15px; }
.md\:pt_15, .md\:pt_15\:h:hover { padding-top: 15px; }
.md\:pb_15, .md\:pb_15\:h:hover { padding-bottom: 15px; }
.md\:pv_15, .md\:pv_15\:h:hover { padding-top: 15px; padding-bottom: 15px; }
.md\:pl_15, .md\:pl_15\:h:hover { padding-left: 15px; }
.md\:pr_15, .md\:pr_15\:h:hover { padding-right: 15px; }
.md\:ph_15, .md\:ph_15\:h:hover { padding-left: 15px; padding-right: 15px; }
.md\:p_20, .md\:p_20\:h:hover { padding: 20px; }
.md\:pt_20, .md\:pt_20\:h:hover { padding-top: 20px; }
.md\:pb_20, .md\:pb_20\:h:hover { padding-bottom: 20px; }
.md\:pv_20, .md\:pv_20\:h:hover { padding-top: 20px; padding-bottom: 20px; }
.md\:pl_20, .md\:pl_20\:h:hover { padding-left: 20px; }
.md\:pr_20, .md\:pr_20\:h:hover { padding-right: 20px; }
.md\:ph_20, .md\:ph_20\:h:hover { padding-left: 20px; padding-right: 20px; }
.md\:p_25, .md\:p_25\:h:hover { padding: 25px; }
.md\:pt_25, .md\:pt_25\:h:hover { padding-top: 25px; }
.md\:pb_25, .md\:pb_25\:h:hover { padding-bottom: 25px; }
.md\:pv_25, .md\:pv_25\:h:hover { padding-top: 25px; padding-bottom: 25px; }
.md\:pl_25, .md\:pl_25\:h:hover { padding-left: 25px; }
.md\:pr_25, .md\:pr_25\:h:hover { padding-right: 25px; }
.md\:ph_25, .md\:ph_25\:h:hover { padding-left: 25px; padding-right: 25px; }
.md\:p_30, .md\:p_30\:h:hover { padding: 30px; }
.md\:pt_30, .md\:pt_30\:h:hover { padding-top: 30px; }
.md\:pb_30, .md\:pb_30\:h:hover { padding-bottom: 30px; }
.md\:pv_30, .md\:pv_30\:h:hover { padding-top: 30px; padding-bottom: 30px; }
.md\:pl_30, .md\:pl_30\:h:hover { padding-left: 30px; }
.md\:pr_30, .md\:pr_30\:h:hover { padding-right: 30px; }
.md\:ph_30, .md\:ph_30\:h:hover { padding-left: 30px; padding-right: 30px; }
.md\:p_35, .md\:p_35\:h:hover { padding: 35px; }
.md\:pt_35, .md\:pt_35\:h:hover { padding-top: 35px; }
.md\:pb_35, .md\:pb_35\:h:hover { padding-bottom: 35px; }
.md\:pv_35, .md\:pv_35\:h:hover { padding-top: 35px; padding-bottom: 35px; }
.md\:pl_35, .md\:pl_35\:h:hover { padding-left: 35px; }
.md\:pr_35, .md\:pr_35\:h:hover { padding-right: 35px; }
.md\:ph_35, .md\:ph_35\:h:hover { padding-left: 35px; padding-right: 35px; }
.md\:p_40, .md\:p_40\:h:hover { padding: 40px; }
.md\:pt_40, .md\:pt_40\:h:hover { padding-top: 40px; }
.md\:pb_40, .md\:pb_40\:h:hover { padding-bottom: 40px; }
.md\:pv_40, .md\:pv_40\:h:hover { padding-top: 40px; padding-bottom: 40px; }
.md\:pl_40, .md\:pl_40\:h:hover { padding-left: 40px; }
.md\:pr_40, .md\:pr_40\:h:hover { padding-right: 40px; }
.md\:ph_40, .md\:ph_40\:h:hover { padding-left: 40px; padding-right: 40px; }
.md\:p_45, .md\:p_45\:h:hover { padding: 45px; }
.md\:pt_45, .md\:pt_45\:h:hover { padding-top: 45px; }
.md\:pb_45, .md\:pb_45\:h:hover { padding-bottom: 45px; }
.md\:pv_45, .md\:pv_45\:h:hover { padding-top: 45px; padding-bottom: 45px; }
.md\:pl_45, .md\:pl_45\:h:hover { padding-left: 45px; }
.md\:pr_45, .md\:pr_45\:h:hover { padding-right: 45px; }
.md\:ph_45, .md\:ph_45\:h:hover { padding-left: 45px; padding-right: 45px; }
.md\:p_50, .md\:p_50\:h:hover { padding: 50px; }
.md\:pt_50, .md\:pt_50\:h:hover { padding-top: 50px; }
.md\:pb_50, .md\:pb_50\:h:hover { padding-bottom: 50px; }
.md\:pv_50, .md\:pv_50\:h:hover { padding-top: 50px; padding-bottom: 50px; }
.md\:pl_50, .md\:pl_50\:h:hover { padding-left: 50px; }
.md\:pr_50, .md\:pr_50\:h:hover { padding-right: 50px; }
.md\:ph_50, .md\:ph_50\:h:hover { padding-left: 50px; padding-right: 50px; }
.md\:ff_pri, .md\:ff_pri\:h:hover { font-family: 'Archivo Black', sans-serif; }
.md\:ff_sec, .md\:ff_sec\:h:hover { font-family: 'Montserrat', sans-serif; }
.md\:fz_8, .md\:fz_8\:h:hover { font-size: 8px; }
.md\:fz_10, .md\:fz_10\:h:hover { font-size: 10px; }
.md\:fz_12, .md\:fz_12\:h:hover { font-size: 12px; }
.md\:fz_14, .md\:fz_14\:h:hover { font-size: 14px; }
.md\:fz_16, .md\:fz_16\:h:hover { font-size: 16px; }
.md\:fz_18, .md\:fz_18\:h:hover { font-size: 18px; }
.md\:fz_20, .md\:fz_20\:h:hover { font-size: 20px; }
.md\:fz_22, .md\:fz_22\:h:hover { font-size: 22px; }
.md\:fz_24, .md\:fz_24\:h:hover { font-size: 24px; }
.md\:bd_n, .md\:bd_n\:h:hover { border: none; }
.md\:bdt_n, .md\:bdt_n\:h:hover { border-top: none; }
.md\:bdb_n, .md\:bdb_n\:h:hover { border-bottom: none; }
.md\:bdl_n, .md\:bdl_n\:h:hover { border-left: none; }
.md\:bdr_n, .md\:bdr_n\:h:hover { border-right: none; }
.md\:bd_sep, .md\:bd_sep\:h:hover { border: 1px solid rgba(0,0,0,0.1); }
.md\:bdt_sep, .md\:bdt_sep\:h:hover { border-top: 1px solid rgba(0,0,0,0.1); }
.md\:bdb_sep, .md\:bdb_sep\:h:hover { border-bottom: 1px solid rgba(0,0,0,0.1); }
.md\:bdl_sep, .md\:bdl_sep\:h:hover { border-left: 1px solid rgba(0,0,0,0.1); }
.md\:bdr_sep, .md\:bdr_sep\:h:hover { border-right: 1px solid rgba(0,0,0,0.1); }
.md\:bd_frame, .md\:bd_frame\:h:hover { border: 10px solid #fff; }
.md\:bdt_frame, .md\:bdt_frame\:h:hover { border-top: 10px solid #fff; }
.md\:bdb_frame, .md\:bdb_frame\:h:hover { border-bottom: 10px solid #fff; }
.md\:bdl_frame, .md\:bdl_frame\:h:hover { border-left: 10px solid #fff; }
.md\:bdr_frame, .md\:bdr_frame\:h:hover { border-right: 10px solid #fff; }
.md\:bdrs_15, .md\:bdrs_15\:h:hover { border-radius: 15px; }
.md\:bdrs_50\%, .md\:bdrs_50\%\:h:hover { border-radius: 50%; }
.md\:bgc_blue, .md\:bgc_blue\:h:hover { background-color: #51568A; }
.md\:c_blue, .md\:c_blue\:h:hover { color: #51568A; }
.md\:bgc_light, .md\:bgc_light\:h:hover { background-color: #fff; }
.md\:bgc_blue, .md\:bgc_blue\:h:hover { background-color: #ECF0FB; }
.md\:bgp_b, .md\:bgp_b\:h:hover { background-position: bottom; }
.md\:bgp_t, .md\:bgp_t\:h:hover { background-position: top; }
.md\:bgp_l, .md\:bgp_l\:h:hover { background-position: left; }
.md\:bgp_r, .md\:bgp_r\:h:hover { background-position: right; }
.md\:bgp_c, .md\:bgp_c\:h:hover { background-position: center; }
.md\:fx_a, .md\:fx_a\:h:hover { flex: auto; }
.md\:fx_n, .md\:fx_n\:h:hover { flex: none; }
.md\:fxb_a, .md\:fxb_a\:h:hover { flex-basis: auto; }
.md\:ord_u, .md\:ord_u\:h:hover { order: unset; }
.md\:fxd_c, .md\:fxd_c\:h:hover { flex-direction: column; }
.md\:fxd_cr, .md\:fxd_cr\:h:hover { flex-direction: column-reverse; }
.md\:fxd_r, .md\:fxd_r\:h:hover { flex-direction: row; }
.md\:fxd_rr, .md\:fxd_rr\:h:hover { flex-direction: row-reverse; }
.md\:fxw_n, .md\:fxw_n\:h:hover { flex-wrap: nowrap; }
.md\:fxw_w, .md\:fxw_w\:h:hover { flex-wrap: wrap; }
.md\:fxw_we, .md\:fxw_we\:h:hover { flex-wrap: wrap-reverse; }
.md\:fxw_u, .md\:fxw_u\:h:hover { flex-wrap: unset; }
.md\:jc_u, .md\:jc_u\:h:hover { justify-content: unset; }
.md\:jc_c, .md\:jc_c\:h:hover { justify-content: center; }
.md\:jc_fe, .md\:jc_fe\:h:hover { justify-content: flex-end; }
.md\:jc_fs, .md\:jc_fs\:h:hover { justify-content: flex-start; }
.md\:jc_sa, .md\:jc_sa\:h:hover { justify-content: space-around; }
.md\:jc_sb, .md\:jc_sb\:h:hover { justify-content: space-between; }
.md\:ac_c, .md\:ac_c\:h:hover { align-content: center; }
.md\:ac_fe, .md\:ac_fe\:h:hover { align-content: flex-end; }
.md\:ac_fs, .md\:ac_fs\:h:hover { align-content: flex-start; }
.md\:ac_s, .md\:ac_s\:h:hover { align-content: stretch; }
.md\:ac_sa, .md\:ac_sa\:h:hover { align-content: space-around; }
.md\:ac_sb, .md\:ac_sb\:h:hover { align-content: space-between; }
.md\:ai_b, .md\:ai_b\:h:hover { align-items: baseline; }
.md\:ai_c, .md\:ai_c\:h:hover { align-items: center; }
.md\:ai_fe, .md\:ai_fe\:h:hover { align-items: flex-end; }
.md\:ai_fs, .md\:ai_fs\:h:hover { align-items: flex-start; }
.md\:ai_s, .md\:ai_s\:h:hover { align-items: stretch; }
.md\:z_a, .md\:z_a\:h:hover { z-index: auto; }
.md\:bxsh_air, .md\:bxsh_air\:h:hover { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); }
.md\:bxsh_n, .md\:bxsh_n\:h:hover { box-shadow: none; }
.md\:tsh_n, .md\:tsh_n\:h:hover { text-shadow: none; }
.md\:d_n, .md\:d_n\:h:hover { display: none; }
.md\:d_i, .md\:d_i\:h:hover { display: inline; }
.md\:d_b, .md\:d_b\:h:hover { display: block; }
.md\:d_ib, .md\:d_ib\:h:hover { display: inline-block; }
.md\:d_f, .md\:d_f\:h:hover { display: flex; }
.md\:d_if, .md\:d_if\:h:hover { display: inline-flex; }
.md\:d_t, .md\:d_t\:h:hover { display: table; }
.md\:d_g, .md\:d_g\:h:hover { display: grid; }
.md\:d_ig, .md\:d_ig\:h:hover { display: inline-grid; }
.md\:pos_s, .md\:pos_s\:h:hover { position: static; }
.md\:pos_r, .md\:pos_r\:h:hover { position: relative; }
.md\:pos_a, .md\:pos_a\:h:hover { position: absolute; }
.md\:pos_f, .md\:pos_f\:h:hover { position: fixed; }
.md\:va_sup, .md\:va_sup\:h:hover { vertical-align: super; }
.md\:va_t, .md\:va_t\:h:hover { vertical-align: top; }
.md\:va_tt, .md\:va_tt\:h:hover { vertical-align: text-top; }
.md\:va_m, .md\:va_m\:h:hover { vertical-align: middle; }
.md\:va_bl, .md\:va_bl\:h:hover { vertical-align: baseline; }
.md\:va_b, .md\:va_b\:h:hover { vertical-align: bottom; }
.md\:va_tb, .md\:va_tb\:h:hover { vertical-align: text-bottom; }
.md\:va_sub, .md\:va_sub\:h:hover { vertical-align: sub; }
.md\:ta_l, .md\:ta_l\:h:hover { text-align: left; }
.md\:ta_c, .md\:ta_c\:h:hover { text-align: center; }
.md\:ta_r, .md\:ta_r\:h:hover { text-align: right; }
.md\:ta_j, .md\:ta_j\:h:hover { text-align: justify; }
.md\:tal_a, .md\:tal_a\:h:hover { text-align-last: auto; }
.md\:tal_l, .md\:tal_l\:h:hover { text-align-last: left; }
.md\:tal_c, .md\:tal_c\:h:hover { text-align-last: center; }
.md\:tal_r, .md\:tal_r\:h:hover { text-align-last: right; }
.md\:td_n, .md\:td_n\:h:hover { text-decoration: none; }
.md\:td_u, .md\:td_u\:h:hover { text-decoration: underline; }
.md\:td_o, .md\:td_o\:h:hover { text-decoration: overline; }
.md\:td_l, .md\:td_l\:h:hover { text-decoration: line-through; }
.md\:te_n, .md\:te_n\:h:hover { text-emphasis: none; }
.md\:te_ac, .md\:te_ac\:h:hover { text-emphasis: accent; }
.md\:te_dt, .md\:te_dt\:h:hover { text-emphasis: dot; }
.md\:te_c, .md\:te_c\:h:hover { text-emphasis: circle; }
.md\:te_ds, .md\:te_ds\:h:hover { text-emphasis: disc; }
.md\:te_b, .md\:te_b\:h:hover { text-emphasis: before; }
.md\:te_a, .md\:te_a\:h:hover { text-emphasis: after; }
.md\:tt_n, .md\:tt_n\:h:hover { text-transform: none; }
.md\:tt_c, .md\:tt_c\:h:hover { text-transform: capitalize; }
.md\:tt_u, .md\:tt_u\:h:hover { text-transform: uppercase; }
.md\:tt_l, .md\:tt_l\:h:hover { text-transform: lowercase; }
.md\:whs_n, .md\:whs_n\:h:hover { white-space: normal; }
.md\:whs_p, .md\:whs_p\:h:hover { white-space: pre; }
.md\:whs_nw, .md\:whs_nw\:h:hover { white-space: nowrap; }
.md\:whs_pw, .md\:whs_pw\:h:hover { white-space: pre-wrap; }
.md\:whs_pl, .md\:whs_pl\:h:hover { white-space: pre-line; }
.md\:v_v, .md\:v_v\:h:hover { visibility: visible; }
.md\:v_h, .md\:v_h\:h:hover { visibility: hidden; }
.md\:v_c, .md\:v_c\:h:hover { visibility: collapse; }
.md\:cur_a, .md\:cur_a\:h:hover { cursor: auto; }
.md\:cur_d, .md\:cur_d\:h:hover { cursor: default; }
.md\:cur_c, .md\:cur_c\:h:hover { cursor: crosshair; }
.md\:cur_ha, .md\:cur_ha\:h:hover { cursor: hand; }
.md\:cur_he, .md\:cur_he\:h:hover { cursor: help; }
.md\:cur_m, .md\:cur_m\:h:hover { cursor: move; }
.md\:cur_p, .md\:cur_p\:h:hover { cursor: pointer; }
.md\:cur_t, .md\:cur_t\:h:hover { cursor: text; }
.md\:lis_n, .md\:lis_n\:h:hover { list-style: none; }
.md\:lisp_i, .md\:lisp_i\:h:hover { list-style-position: inside; }
.md\:lisp_o, .md\:lisp_o\:h:hover { list-style-position: outside; }
.md\:list_n, .md\:list_n\:h:hover { list-style-type: none; }
.md\:list_d, .md\:list_d\:h:hover { list-style-type: disc; }
.md\:list_c, .md\:list_c\:h:hover { list-style-type: circle; }
.md\:list_s, .md\:list_s\:h:hover { list-style-type: square; }
.md\:list_dc, .md\:list_dc\:h:hover { list-style-type: decimal; }
.md\:list_dclz, .md\:list_dclz\:h:hover { list-style-type: decimal-leading-zero; }
.md\:list_lr, .md\:list_lr\:h:hover { list-style-type: lower-roman; }
.md\:list_ur, .md\:list_ur\:h:hover { list-style-type: upper-roman; }
.md\:lisi_n, .md\:lisi_n\:h:hover { list-style-image: none; }
.md\:ov_v, .md\:ov_v\:h:hover { overflow: visible; }
.md\:ov_h, .md\:ov_h\:h:hover { overflow: hidden; }
.md\:ov_s, .md\:ov_s\:h:hover { overflow: scroll; }
.md\:ov_a, .md\:ov_a\:h:hover { overflow: auto; }
.md\:ovx_v, .md\:ovx_v\:h:hover { overflow-x: visible; }
.md\:ovx_h, .md\:ovx_h\:h:hover { overflow-x: hidden; }
.md\:ovx_s, .md\:ovx_s\:h:hover { overflow-x: scroll; }
.md\:ovx_a, .md\:ovx_a\:h:hover { overflow-x: auto; }
.md\:ovy_v, .md\:ovy_v\:h:hover { overflow-y: visible; }
.md\:ovy_h, .md\:ovy_h\:h:hover { overflow-y: hidden; }
.md\:ovy_s, .md\:ovy_s\:h:hover { overflow-y: scroll; }
.md\:ovy_a, .md\:ovy_a\:h:hover { overflow-y: auto; }
.md\:op_0, .md\:op_0\:h:hover { opacity: 0; }
.md\:op_01, .md\:op_01\:h:hover { opacity: 0.1; }
.md\:op_02, .md\:op_02\:h:hover { opacity: 0.2; }
.md\:op_03, .md\:op_03\:h:hover { opacity: 0.3; }
.md\:op_04, .md\:op_04\:h:hover { opacity: 0.4; }
.md\:op_05, .md\:op_05\:h:hover { opacity: 0.5; }
.md\:op_06, .md\:op_06\:h:hover { opacity: 0.6; }
.md\:op_07, .md\:op_07\:h:hover { opacity: 0.7; }
.md\:op_08, .md\:op_08\:h:hover { opacity: 0.8; }
.md\:op_09, .md\:op_09\:h:hover { opacity: 0.9; }
.md\:op_1, .md\:op_1\:h:hover { opacity: 1; }
}
