@media only screen and (min-width: 1024px) {
.lg\:w_a, .lg\:w_a\:h:hover { width: auto; }
.lg\:w_50, .lg\:w_50\:h:hover { width: 50px; }
.lg\:miw_50, .lg\:miw_50\:h:hover { min-width: 50px; }
.lg\:maw_50, .lg\:maw_50\:h:hover { max-width: 50px; }
.lg\:w_100, .lg\:w_100\:h:hover { width: 100px; }
.lg\:miw_100, .lg\:miw_100\:h:hover { min-width: 100px; }
.lg\:maw_100, .lg\:maw_100\:h:hover { max-width: 100px; }
.lg\:w_100\%, .lg\:w_100\%\:h:hover { width: 100%; }
.lg\:miw_100\%, .lg\:miw_100\%\:h:hover { min-width: 100%; }
.lg\:maw_100\%, .lg\:maw_100\%\:h:hover { max-width: 100%; }
.lg\:h_a, .lg\:h_a\:h:hover { height: auto; }
.lg\:h_50, .lg\:h_50\:h:hover { height: 50px; }
.lg\:mih_50, .lg\:mih_50\:h:hover { min-height: 50px; }
.lg\:mah_50, .lg\:mah_50\:h:hover { max-height: 50px; }
.lg\:h_100, .lg\:h_100\:h:hover { height: 100px; }
.lg\:mih_100, .lg\:mih_100\:h:hover { min-height: 100px; }
.lg\:mah_100, .lg\:mah_100\:h:hover { max-height: 100px; }
.lg\:m_0, .lg\:m_0\:h:hover { margin: 0px; }
.lg\:mt_0, .lg\:mt_0\:h:hover { margin-top: 0px; }
.lg\:mb_0, .lg\:mb_0\:h:hover { margin-bottom: 0px; }
.lg\:mver_0, .lg\:mver_0\:h:hover { margin-top: 0px; margin-bottom: 0px; }
.lg\:ml_0, .lg\:ml_0\:h:hover { margin-left: 0px; }
.lg\:mr_0, .lg\:mr_0\:h:hover { margin-right: 0px; }
.lg\:mhor_0, .lg\:mhor_0\:h:hover { margin-left: 0px; margin-right: 0px; }
.lg\:m_5, .lg\:m_5\:h:hover { margin: 5px; }
.lg\:mt_5, .lg\:mt_5\:h:hover { margin-top: 5px; }
.lg\:mb_5, .lg\:mb_5\:h:hover { margin-bottom: 5px; }
.lg\:mver_5, .lg\:mver_5\:h:hover { margin-top: 5px; margin-bottom: 5px; }
.lg\:ml_5, .lg\:ml_5\:h:hover { margin-left: 5px; }
.lg\:mr_5, .lg\:mr_5\:h:hover { margin-right: 5px; }
.lg\:mhor_5, .lg\:mhor_5\:h:hover { margin-left: 5px; margin-right: 5px; }
.lg\:m_10, .lg\:m_10\:h:hover { margin: 10px; }
.lg\:mt_10, .lg\:mt_10\:h:hover { margin-top: 10px; }
.lg\:mb_10, .lg\:mb_10\:h:hover { margin-bottom: 10px; }
.lg\:mver_10, .lg\:mver_10\:h:hover { margin-top: 10px; margin-bottom: 10px; }
.lg\:ml_10, .lg\:ml_10\:h:hover { margin-left: 10px; }
.lg\:mr_10, .lg\:mr_10\:h:hover { margin-right: 10px; }
.lg\:mhor_10, .lg\:mhor_10\:h:hover { margin-left: 10px; margin-right: 10px; }
.lg\:m_15, .lg\:m_15\:h:hover { margin: 15px; }
.lg\:mt_15, .lg\:mt_15\:h:hover { margin-top: 15px; }
.lg\:mb_15, .lg\:mb_15\:h:hover { margin-bottom: 15px; }
.lg\:mver_15, .lg\:mver_15\:h:hover { margin-top: 15px; margin-bottom: 15px; }
.lg\:ml_15, .lg\:ml_15\:h:hover { margin-left: 15px; }
.lg\:mr_15, .lg\:mr_15\:h:hover { margin-right: 15px; }
.lg\:mhor_15, .lg\:mhor_15\:h:hover { margin-left: 15px; margin-right: 15px; }
.lg\:m_20, .lg\:m_20\:h:hover { margin: 20px; }
.lg\:mt_20, .lg\:mt_20\:h:hover { margin-top: 20px; }
.lg\:mb_20, .lg\:mb_20\:h:hover { margin-bottom: 20px; }
.lg\:mver_20, .lg\:mver_20\:h:hover { margin-top: 20px; margin-bottom: 20px; }
.lg\:ml_20, .lg\:ml_20\:h:hover { margin-left: 20px; }
.lg\:mr_20, .lg\:mr_20\:h:hover { margin-right: 20px; }
.lg\:mhor_20, .lg\:mhor_20\:h:hover { margin-left: 20px; margin-right: 20px; }
.lg\:m_25, .lg\:m_25\:h:hover { margin: 25px; }
.lg\:mt_25, .lg\:mt_25\:h:hover { margin-top: 25px; }
.lg\:mb_25, .lg\:mb_25\:h:hover { margin-bottom: 25px; }
.lg\:mver_25, .lg\:mver_25\:h:hover { margin-top: 25px; margin-bottom: 25px; }
.lg\:ml_25, .lg\:ml_25\:h:hover { margin-left: 25px; }
.lg\:mr_25, .lg\:mr_25\:h:hover { margin-right: 25px; }
.lg\:mhor_25, .lg\:mhor_25\:h:hover { margin-left: 25px; margin-right: 25px; }
.lg\:m_30, .lg\:m_30\:h:hover { margin: 30px; }
.lg\:mt_30, .lg\:mt_30\:h:hover { margin-top: 30px; }
.lg\:mb_30, .lg\:mb_30\:h:hover { margin-bottom: 30px; }
.lg\:mver_30, .lg\:mver_30\:h:hover { margin-top: 30px; margin-bottom: 30px; }
.lg\:ml_30, .lg\:ml_30\:h:hover { margin-left: 30px; }
.lg\:mr_30, .lg\:mr_30\:h:hover { margin-right: 30px; }
.lg\:mhor_30, .lg\:mhor_30\:h:hover { margin-left: 30px; margin-right: 30px; }
.lg\:m_35, .lg\:m_35\:h:hover { margin: 35px; }
.lg\:mt_35, .lg\:mt_35\:h:hover { margin-top: 35px; }
.lg\:mb_35, .lg\:mb_35\:h:hover { margin-bottom: 35px; }
.lg\:mver_35, .lg\:mver_35\:h:hover { margin-top: 35px; margin-bottom: 35px; }
.lg\:ml_35, .lg\:ml_35\:h:hover { margin-left: 35px; }
.lg\:mr_35, .lg\:mr_35\:h:hover { margin-right: 35px; }
.lg\:mhor_35, .lg\:mhor_35\:h:hover { margin-left: 35px; margin-right: 35px; }
.lg\:m_40, .lg\:m_40\:h:hover { margin: 40px; }
.lg\:mt_40, .lg\:mt_40\:h:hover { margin-top: 40px; }
.lg\:mb_40, .lg\:mb_40\:h:hover { margin-bottom: 40px; }
.lg\:mver_40, .lg\:mver_40\:h:hover { margin-top: 40px; margin-bottom: 40px; }
.lg\:ml_40, .lg\:ml_40\:h:hover { margin-left: 40px; }
.lg\:mr_40, .lg\:mr_40\:h:hover { margin-right: 40px; }
.lg\:mhor_40, .lg\:mhor_40\:h:hover { margin-left: 40px; margin-right: 40px; }
.lg\:m_45, .lg\:m_45\:h:hover { margin: 45px; }
.lg\:mt_45, .lg\:mt_45\:h:hover { margin-top: 45px; }
.lg\:mb_45, .lg\:mb_45\:h:hover { margin-bottom: 45px; }
.lg\:mver_45, .lg\:mver_45\:h:hover { margin-top: 45px; margin-bottom: 45px; }
.lg\:ml_45, .lg\:ml_45\:h:hover { margin-left: 45px; }
.lg\:mr_45, .lg\:mr_45\:h:hover { margin-right: 45px; }
.lg\:mhor_45, .lg\:mhor_45\:h:hover { margin-left: 45px; margin-right: 45px; }
.lg\:m_50, .lg\:m_50\:h:hover { margin: 50px; }
.lg\:mt_50, .lg\:mt_50\:h:hover { margin-top: 50px; }
.lg\:mb_50, .lg\:mb_50\:h:hover { margin-bottom: 50px; }
.lg\:mver_50, .lg\:mver_50\:h:hover { margin-top: 50px; margin-bottom: 50px; }
.lg\:ml_50, .lg\:ml_50\:h:hover { margin-left: 50px; }
.lg\:mr_50, .lg\:mr_50\:h:hover { margin-right: 50px; }
.lg\:mhor_50, .lg\:mhor_50\:h:hover { margin-left: 50px; margin-right: 50px; }
.lg\:m_-80, .lg\:m_-80\:h:hover { margin: -80px; }
.lg\:mt_-80, .lg\:mt_-80\:h:hover { margin-top: -80px; }
.lg\:mb_-80, .lg\:mb_-80\:h:hover { margin-bottom: -80px; }
.lg\:mver_-80, .lg\:mver_-80\:h:hover { margin-top: -80px; margin-bottom: -80px; }
.lg\:ml_-80, .lg\:ml_-80\:h:hover { margin-left: -80px; }
.lg\:mr_-80, .lg\:mr_-80\:h:hover { margin-right: -80px; }
.lg\:mhor_-80, .lg\:mhor_-80\:h:hover { margin-left: -80px; margin-right: -80px; }
.lg\:p_0, .lg\:p_0\:h:hover { padding: 0px; }
.lg\:pt_0, .lg\:pt_0\:h:hover { padding-top: 0px; }
.lg\:pb_0, .lg\:pb_0\:h:hover { padding-bottom: 0px; }
.lg\:pv_0, .lg\:pv_0\:h:hover { padding-top: 0px; padding-bottom: 0px; }
.lg\:pl_0, .lg\:pl_0\:h:hover { padding-left: 0px; }
.lg\:pr_0, .lg\:pr_0\:h:hover { padding-right: 0px; }
.lg\:ph_0, .lg\:ph_0\:h:hover { padding-left: 0px; padding-right: 0px; }
.lg\:p_5, .lg\:p_5\:h:hover { padding: 5px; }
.lg\:pt_5, .lg\:pt_5\:h:hover { padding-top: 5px; }
.lg\:pb_5, .lg\:pb_5\:h:hover { padding-bottom: 5px; }
.lg\:pv_5, .lg\:pv_5\:h:hover { padding-top: 5px; padding-bottom: 5px; }
.lg\:pl_5, .lg\:pl_5\:h:hover { padding-left: 5px; }
.lg\:pr_5, .lg\:pr_5\:h:hover { padding-right: 5px; }
.lg\:ph_5, .lg\:ph_5\:h:hover { padding-left: 5px; padding-right: 5px; }
.lg\:p_10, .lg\:p_10\:h:hover { padding: 10px; }
.lg\:pt_10, .lg\:pt_10\:h:hover { padding-top: 10px; }
.lg\:pb_10, .lg\:pb_10\:h:hover { padding-bottom: 10px; }
.lg\:pv_10, .lg\:pv_10\:h:hover { padding-top: 10px; padding-bottom: 10px; }
.lg\:pl_10, .lg\:pl_10\:h:hover { padding-left: 10px; }
.lg\:pr_10, .lg\:pr_10\:h:hover { padding-right: 10px; }
.lg\:ph_10, .lg\:ph_10\:h:hover { padding-left: 10px; padding-right: 10px; }
.lg\:p_15, .lg\:p_15\:h:hover { padding: 15px; }
.lg\:pt_15, .lg\:pt_15\:h:hover { padding-top: 15px; }
.lg\:pb_15, .lg\:pb_15\:h:hover { padding-bottom: 15px; }
.lg\:pv_15, .lg\:pv_15\:h:hover { padding-top: 15px; padding-bottom: 15px; }
.lg\:pl_15, .lg\:pl_15\:h:hover { padding-left: 15px; }
.lg\:pr_15, .lg\:pr_15\:h:hover { padding-right: 15px; }
.lg\:ph_15, .lg\:ph_15\:h:hover { padding-left: 15px; padding-right: 15px; }
.lg\:p_20, .lg\:p_20\:h:hover { padding: 20px; }
.lg\:pt_20, .lg\:pt_20\:h:hover { padding-top: 20px; }
.lg\:pb_20, .lg\:pb_20\:h:hover { padding-bottom: 20px; }
.lg\:pv_20, .lg\:pv_20\:h:hover { padding-top: 20px; padding-bottom: 20px; }
.lg\:pl_20, .lg\:pl_20\:h:hover { padding-left: 20px; }
.lg\:pr_20, .lg\:pr_20\:h:hover { padding-right: 20px; }
.lg\:ph_20, .lg\:ph_20\:h:hover { padding-left: 20px; padding-right: 20px; }
.lg\:p_25, .lg\:p_25\:h:hover { padding: 25px; }
.lg\:pt_25, .lg\:pt_25\:h:hover { padding-top: 25px; }
.lg\:pb_25, .lg\:pb_25\:h:hover { padding-bottom: 25px; }
.lg\:pv_25, .lg\:pv_25\:h:hover { padding-top: 25px; padding-bottom: 25px; }
.lg\:pl_25, .lg\:pl_25\:h:hover { padding-left: 25px; }
.lg\:pr_25, .lg\:pr_25\:h:hover { padding-right: 25px; }
.lg\:ph_25, .lg\:ph_25\:h:hover { padding-left: 25px; padding-right: 25px; }
.lg\:p_30, .lg\:p_30\:h:hover { padding: 30px; }
.lg\:pt_30, .lg\:pt_30\:h:hover { padding-top: 30px; }
.lg\:pb_30, .lg\:pb_30\:h:hover { padding-bottom: 30px; }
.lg\:pv_30, .lg\:pv_30\:h:hover { padding-top: 30px; padding-bottom: 30px; }
.lg\:pl_30, .lg\:pl_30\:h:hover { padding-left: 30px; }
.lg\:pr_30, .lg\:pr_30\:h:hover { padding-right: 30px; }
.lg\:ph_30, .lg\:ph_30\:h:hover { padding-left: 30px; padding-right: 30px; }
.lg\:p_35, .lg\:p_35\:h:hover { padding: 35px; }
.lg\:pt_35, .lg\:pt_35\:h:hover { padding-top: 35px; }
.lg\:pb_35, .lg\:pb_35\:h:hover { padding-bottom: 35px; }
.lg\:pv_35, .lg\:pv_35\:h:hover { padding-top: 35px; padding-bottom: 35px; }
.lg\:pl_35, .lg\:pl_35\:h:hover { padding-left: 35px; }
.lg\:pr_35, .lg\:pr_35\:h:hover { padding-right: 35px; }
.lg\:ph_35, .lg\:ph_35\:h:hover { padding-left: 35px; padding-right: 35px; }
.lg\:p_40, .lg\:p_40\:h:hover { padding: 40px; }
.lg\:pt_40, .lg\:pt_40\:h:hover { padding-top: 40px; }
.lg\:pb_40, .lg\:pb_40\:h:hover { padding-bottom: 40px; }
.lg\:pv_40, .lg\:pv_40\:h:hover { padding-top: 40px; padding-bottom: 40px; }
.lg\:pl_40, .lg\:pl_40\:h:hover { padding-left: 40px; }
.lg\:pr_40, .lg\:pr_40\:h:hover { padding-right: 40px; }
.lg\:ph_40, .lg\:ph_40\:h:hover { padding-left: 40px; padding-right: 40px; }
.lg\:p_45, .lg\:p_45\:h:hover { padding: 45px; }
.lg\:pt_45, .lg\:pt_45\:h:hover { padding-top: 45px; }
.lg\:pb_45, .lg\:pb_45\:h:hover { padding-bottom: 45px; }
.lg\:pv_45, .lg\:pv_45\:h:hover { padding-top: 45px; padding-bottom: 45px; }
.lg\:pl_45, .lg\:pl_45\:h:hover { padding-left: 45px; }
.lg\:pr_45, .lg\:pr_45\:h:hover { padding-right: 45px; }
.lg\:ph_45, .lg\:ph_45\:h:hover { padding-left: 45px; padding-right: 45px; }
.lg\:p_50, .lg\:p_50\:h:hover { padding: 50px; }
.lg\:pt_50, .lg\:pt_50\:h:hover { padding-top: 50px; }
.lg\:pb_50, .lg\:pb_50\:h:hover { padding-bottom: 50px; }
.lg\:pv_50, .lg\:pv_50\:h:hover { padding-top: 50px; padding-bottom: 50px; }
.lg\:pl_50, .lg\:pl_50\:h:hover { padding-left: 50px; }
.lg\:pr_50, .lg\:pr_50\:h:hover { padding-right: 50px; }
.lg\:ph_50, .lg\:ph_50\:h:hover { padding-left: 50px; padding-right: 50px; }
.lg\:ff_pri, .lg\:ff_pri\:h:hover { font-family: 'Archivo Black', sans-serif; }
.lg\:ff_sec, .lg\:ff_sec\:h:hover { font-family: 'Montserrat', sans-serif; }
.lg\:fz_8, .lg\:fz_8\:h:hover { font-size: 8px; }
.lg\:fz_10, .lg\:fz_10\:h:hover { font-size: 10px; }
.lg\:fz_12, .lg\:fz_12\:h:hover { font-size: 12px; }
.lg\:fz_14, .lg\:fz_14\:h:hover { font-size: 14px; }
.lg\:fz_16, .lg\:fz_16\:h:hover { font-size: 16px; }
.lg\:fz_18, .lg\:fz_18\:h:hover { font-size: 18px; }
.lg\:fz_20, .lg\:fz_20\:h:hover { font-size: 20px; }
.lg\:fz_22, .lg\:fz_22\:h:hover { font-size: 22px; }
.lg\:fz_24, .lg\:fz_24\:h:hover { font-size: 24px; }
.lg\:bd_n, .lg\:bd_n\:h:hover { border: none; }
.lg\:bdt_n, .lg\:bdt_n\:h:hover { border-top: none; }
.lg\:bdb_n, .lg\:bdb_n\:h:hover { border-bottom: none; }
.lg\:bdl_n, .lg\:bdl_n\:h:hover { border-left: none; }
.lg\:bdr_n, .lg\:bdr_n\:h:hover { border-right: none; }
.lg\:bd_sep, .lg\:bd_sep\:h:hover { border: 1px solid rgba(0,0,0,0.1); }
.lg\:bdt_sep, .lg\:bdt_sep\:h:hover { border-top: 1px solid rgba(0,0,0,0.1); }
.lg\:bdb_sep, .lg\:bdb_sep\:h:hover { border-bottom: 1px solid rgba(0,0,0,0.1); }
.lg\:bdl_sep, .lg\:bdl_sep\:h:hover { border-left: 1px solid rgba(0,0,0,0.1); }
.lg\:bdr_sep, .lg\:bdr_sep\:h:hover { border-right: 1px solid rgba(0,0,0,0.1); }
.lg\:bd_frame, .lg\:bd_frame\:h:hover { border: 10px solid #fff; }
.lg\:bdt_frame, .lg\:bdt_frame\:h:hover { border-top: 10px solid #fff; }
.lg\:bdb_frame, .lg\:bdb_frame\:h:hover { border-bottom: 10px solid #fff; }
.lg\:bdl_frame, .lg\:bdl_frame\:h:hover { border-left: 10px solid #fff; }
.lg\:bdr_frame, .lg\:bdr_frame\:h:hover { border-right: 10px solid #fff; }
.lg\:bdrs_15, .lg\:bdrs_15\:h:hover { border-radius: 15px; }
.lg\:bdrs_50\%, .lg\:bdrs_50\%\:h:hover { border-radius: 50%; }
.lg\:bgc_blue, .lg\:bgc_blue\:h:hover { background-color: #51568A; }
.lg\:c_blue, .lg\:c_blue\:h:hover { color: #51568A; }
.lg\:bgc_light, .lg\:bgc_light\:h:hover { background-color: #fff; }
.lg\:bgc_blue, .lg\:bgc_blue\:h:hover { background-color: #ECF0FB; }
.lg\:bgp_b, .lg\:bgp_b\:h:hover { background-position: bottom; }
.lg\:bgp_t, .lg\:bgp_t\:h:hover { background-position: top; }
.lg\:bgp_l, .lg\:bgp_l\:h:hover { background-position: left; }
.lg\:bgp_r, .lg\:bgp_r\:h:hover { background-position: right; }
.lg\:bgp_c, .lg\:bgp_c\:h:hover { background-position: center; }
.lg\:fx_a, .lg\:fx_a\:h:hover { flex: auto; }
.lg\:fx_n, .lg\:fx_n\:h:hover { flex: none; }
.lg\:fxb_a, .lg\:fxb_a\:h:hover { flex-basis: auto; }
.lg\:ord_u, .lg\:ord_u\:h:hover { order: unset; }
.lg\:fxd_c, .lg\:fxd_c\:h:hover { flex-direction: column; }
.lg\:fxd_cr, .lg\:fxd_cr\:h:hover { flex-direction: column-reverse; }
.lg\:fxd_r, .lg\:fxd_r\:h:hover { flex-direction: row; }
.lg\:fxd_rr, .lg\:fxd_rr\:h:hover { flex-direction: row-reverse; }
.lg\:fxw_n, .lg\:fxw_n\:h:hover { flex-wrap: nowrap; }
.lg\:fxw_w, .lg\:fxw_w\:h:hover { flex-wrap: wrap; }
.lg\:fxw_we, .lg\:fxw_we\:h:hover { flex-wrap: wrap-reverse; }
.lg\:fxw_u, .lg\:fxw_u\:h:hover { flex-wrap: unset; }
.lg\:jc_u, .lg\:jc_u\:h:hover { justify-content: unset; }
.lg\:jc_c, .lg\:jc_c\:h:hover { justify-content: center; }
.lg\:jc_fe, .lg\:jc_fe\:h:hover { justify-content: flex-end; }
.lg\:jc_fs, .lg\:jc_fs\:h:hover { justify-content: flex-start; }
.lg\:jc_sa, .lg\:jc_sa\:h:hover { justify-content: space-around; }
.lg\:jc_sb, .lg\:jc_sb\:h:hover { justify-content: space-between; }
.lg\:ac_c, .lg\:ac_c\:h:hover { align-content: center; }
.lg\:ac_fe, .lg\:ac_fe\:h:hover { align-content: flex-end; }
.lg\:ac_fs, .lg\:ac_fs\:h:hover { align-content: flex-start; }
.lg\:ac_s, .lg\:ac_s\:h:hover { align-content: stretch; }
.lg\:ac_sa, .lg\:ac_sa\:h:hover { align-content: space-around; }
.lg\:ac_sb, .lg\:ac_sb\:h:hover { align-content: space-between; }
.lg\:ai_b, .lg\:ai_b\:h:hover { align-items: baseline; }
.lg\:ai_c, .lg\:ai_c\:h:hover { align-items: center; }
.lg\:ai_fe, .lg\:ai_fe\:h:hover { align-items: flex-end; }
.lg\:ai_fs, .lg\:ai_fs\:h:hover { align-items: flex-start; }
.lg\:ai_s, .lg\:ai_s\:h:hover { align-items: stretch; }
.lg\:z_a, .lg\:z_a\:h:hover { z-index: auto; }
.lg\:bxsh_air, .lg\:bxsh_air\:h:hover { box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); }
.lg\:bxsh_n, .lg\:bxsh_n\:h:hover { box-shadow: none; }
.lg\:tsh_n, .lg\:tsh_n\:h:hover { text-shadow: none; }
.lg\:d_n, .lg\:d_n\:h:hover { display: none; }
.lg\:d_i, .lg\:d_i\:h:hover { display: inline; }
.lg\:d_b, .lg\:d_b\:h:hover { display: block; }
.lg\:d_ib, .lg\:d_ib\:h:hover { display: inline-block; }
.lg\:d_f, .lg\:d_f\:h:hover { display: flex; }
.lg\:d_if, .lg\:d_if\:h:hover { display: inline-flex; }
.lg\:d_t, .lg\:d_t\:h:hover { display: table; }
.lg\:d_g, .lg\:d_g\:h:hover { display: grid; }
.lg\:d_ig, .lg\:d_ig\:h:hover { display: inline-grid; }
.lg\:pos_s, .lg\:pos_s\:h:hover { position: static; }
.lg\:pos_r, .lg\:pos_r\:h:hover { position: relative; }
.lg\:pos_a, .lg\:pos_a\:h:hover { position: absolute; }
.lg\:pos_f, .lg\:pos_f\:h:hover { position: fixed; }
.lg\:va_sup, .lg\:va_sup\:h:hover { vertical-align: super; }
.lg\:va_t, .lg\:va_t\:h:hover { vertical-align: top; }
.lg\:va_tt, .lg\:va_tt\:h:hover { vertical-align: text-top; }
.lg\:va_m, .lg\:va_m\:h:hover { vertical-align: middle; }
.lg\:va_bl, .lg\:va_bl\:h:hover { vertical-align: baseline; }
.lg\:va_b, .lg\:va_b\:h:hover { vertical-align: bottom; }
.lg\:va_tb, .lg\:va_tb\:h:hover { vertical-align: text-bottom; }
.lg\:va_sub, .lg\:va_sub\:h:hover { vertical-align: sub; }
.lg\:ta_l, .lg\:ta_l\:h:hover { text-align: left; }
.lg\:ta_c, .lg\:ta_c\:h:hover { text-align: center; }
.lg\:ta_r, .lg\:ta_r\:h:hover { text-align: right; }
.lg\:ta_j, .lg\:ta_j\:h:hover { text-align: justify; }
.lg\:tal_a, .lg\:tal_a\:h:hover { text-align-last: auto; }
.lg\:tal_l, .lg\:tal_l\:h:hover { text-align-last: left; }
.lg\:tal_c, .lg\:tal_c\:h:hover { text-align-last: center; }
.lg\:tal_r, .lg\:tal_r\:h:hover { text-align-last: right; }
.lg\:td_n, .lg\:td_n\:h:hover { text-decoration: none; }
.lg\:td_u, .lg\:td_u\:h:hover { text-decoration: underline; }
.lg\:td_o, .lg\:td_o\:h:hover { text-decoration: overline; }
.lg\:td_l, .lg\:td_l\:h:hover { text-decoration: line-through; }
.lg\:te_n, .lg\:te_n\:h:hover { text-emphasis: none; }
.lg\:te_ac, .lg\:te_ac\:h:hover { text-emphasis: accent; }
.lg\:te_dt, .lg\:te_dt\:h:hover { text-emphasis: dot; }
.lg\:te_c, .lg\:te_c\:h:hover { text-emphasis: circle; }
.lg\:te_ds, .lg\:te_ds\:h:hover { text-emphasis: disc; }
.lg\:te_b, .lg\:te_b\:h:hover { text-emphasis: before; }
.lg\:te_a, .lg\:te_a\:h:hover { text-emphasis: after; }
.lg\:tt_n, .lg\:tt_n\:h:hover { text-transform: none; }
.lg\:tt_c, .lg\:tt_c\:h:hover { text-transform: capitalize; }
.lg\:tt_u, .lg\:tt_u\:h:hover { text-transform: uppercase; }
.lg\:tt_l, .lg\:tt_l\:h:hover { text-transform: lowercase; }
.lg\:whs_n, .lg\:whs_n\:h:hover { white-space: normal; }
.lg\:whs_p, .lg\:whs_p\:h:hover { white-space: pre; }
.lg\:whs_nw, .lg\:whs_nw\:h:hover { white-space: nowrap; }
.lg\:whs_pw, .lg\:whs_pw\:h:hover { white-space: pre-wrap; }
.lg\:whs_pl, .lg\:whs_pl\:h:hover { white-space: pre-line; }
.lg\:v_v, .lg\:v_v\:h:hover { visibility: visible; }
.lg\:v_h, .lg\:v_h\:h:hover { visibility: hidden; }
.lg\:v_c, .lg\:v_c\:h:hover { visibility: collapse; }
.lg\:cur_a, .lg\:cur_a\:h:hover { cursor: auto; }
.lg\:cur_d, .lg\:cur_d\:h:hover { cursor: default; }
.lg\:cur_c, .lg\:cur_c\:h:hover { cursor: crosshair; }
.lg\:cur_ha, .lg\:cur_ha\:h:hover { cursor: hand; }
.lg\:cur_he, .lg\:cur_he\:h:hover { cursor: help; }
.lg\:cur_m, .lg\:cur_m\:h:hover { cursor: move; }
.lg\:cur_p, .lg\:cur_p\:h:hover { cursor: pointer; }
.lg\:cur_t, .lg\:cur_t\:h:hover { cursor: text; }
.lg\:lis_n, .lg\:lis_n\:h:hover { list-style: none; }
.lg\:lisp_i, .lg\:lisp_i\:h:hover { list-style-position: inside; }
.lg\:lisp_o, .lg\:lisp_o\:h:hover { list-style-position: outside; }
.lg\:list_n, .lg\:list_n\:h:hover { list-style-type: none; }
.lg\:list_d, .lg\:list_d\:h:hover { list-style-type: disc; }
.lg\:list_c, .lg\:list_c\:h:hover { list-style-type: circle; }
.lg\:list_s, .lg\:list_s\:h:hover { list-style-type: square; }
.lg\:list_dc, .lg\:list_dc\:h:hover { list-style-type: decimal; }
.lg\:list_dclz, .lg\:list_dclz\:h:hover { list-style-type: decimal-leading-zero; }
.lg\:list_lr, .lg\:list_lr\:h:hover { list-style-type: lower-roman; }
.lg\:list_ur, .lg\:list_ur\:h:hover { list-style-type: upper-roman; }
.lg\:lisi_n, .lg\:lisi_n\:h:hover { list-style-image: none; }
.lg\:ov_v, .lg\:ov_v\:h:hover { overflow: visible; }
.lg\:ov_h, .lg\:ov_h\:h:hover { overflow: hidden; }
.lg\:ov_s, .lg\:ov_s\:h:hover { overflow: scroll; }
.lg\:ov_a, .lg\:ov_a\:h:hover { overflow: auto; }
.lg\:ovx_v, .lg\:ovx_v\:h:hover { overflow-x: visible; }
.lg\:ovx_h, .lg\:ovx_h\:h:hover { overflow-x: hidden; }
.lg\:ovx_s, .lg\:ovx_s\:h:hover { overflow-x: scroll; }
.lg\:ovx_a, .lg\:ovx_a\:h:hover { overflow-x: auto; }
.lg\:ovy_v, .lg\:ovy_v\:h:hover { overflow-y: visible; }
.lg\:ovy_h, .lg\:ovy_h\:h:hover { overflow-y: hidden; }
.lg\:ovy_s, .lg\:ovy_s\:h:hover { overflow-y: scroll; }
.lg\:ovy_a, .lg\:ovy_a\:h:hover { overflow-y: auto; }
.lg\:op_0, .lg\:op_0\:h:hover { opacity: 0; }
.lg\:op_01, .lg\:op_01\:h:hover { opacity: 0.1; }
.lg\:op_02, .lg\:op_02\:h:hover { opacity: 0.2; }
.lg\:op_03, .lg\:op_03\:h:hover { opacity: 0.3; }
.lg\:op_04, .lg\:op_04\:h:hover { opacity: 0.4; }
.lg\:op_05, .lg\:op_05\:h:hover { opacity: 0.5; }
.lg\:op_06, .lg\:op_06\:h:hover { opacity: 0.6; }
.lg\:op_07, .lg\:op_07\:h:hover { opacity: 0.7; }
.lg\:op_08, .lg\:op_08\:h:hover { opacity: 0.8; }
.lg\:op_09, .lg\:op_09\:h:hover { opacity: 0.9; }
.lg\:op_1, .lg\:op_1\:h:hover { opacity: 1; }
}
