@each $cols, $gutters in $FLEX_GRID_LAYOUTS {
  @each $gutter in $gutters {
    $spacing: $gutter / 2;

    @include class("fx_grid_#{$cols}_#{$gutter}") {
      display: flex;
      margin-left: -$spacing + px;
      margin-right: -$spacing + px;

      [class*="col_"] {
        flex: 0 0 auto;
        padding-left: ($spacing + px);
        padding-right: ($spacing + px);
      }

      @for $col from 1 through $cols {
        $width: $col / $cols * 100%;

        .col_#{$col} {
          flex-basis: $width;
          max-width: $width;
        }
      }
    }
  }
}
