.u-cur_a { cursor:auto; }
.u-cur_d { cursor:default; }
.u-cur_c { cursor:crosshair; }
.u-cur_ha { cursor:hand; }
.u-cur_he { cursor:help; }
.u-cur_m { cursor:move; }
.u-cur_p { cursor:pointer; }
.u-cur_t { cursor:text; }
