.u-cura { cursor:auto; }
.u-curd { cursor:default; }
.u-curc { cursor:crosshair; }
.u-curha { cursor:hand; }
.u-curhe { cursor:help; }
.u-curm { cursor:move; }
.u-curp { cursor:pointer; }
.u-curt { cursor:text; }
