.d_n { display: none;}
.d_b {display: block;}
.d_f { display: flex; }
.d_if { display: inline-flex;}
.d_i { display: inline; }
.d_ib { display: inline-block; }
.d_li { display: list-item; }
.d_ri { display: run-in; }
.d_cp { display: compact; }
.d_tb { display: table; }
.d_itb { display: inline-table; }
.d_tbcp { display: table-caption; }
.d_tbcl { display: table-column; }
.d_tbclg { display: table-column-group; }
.d_tbhg { display: table-header-group; }
.d_tbfg { display: table-footer-group; }
.d_tbr { display: table-row; }
.d_tbrg { display: table-row-group; }
.d_tbc { display: table-cell; }
