// todo 
// .u-fx flex:;
// .u-fxb flex-basis:;
// .u-fxd flex-direction:;
// .u-fxf flex-flow:;
// .u-fxg flex-grow:;
// .u-fxsh flex-shrink:;
// .u-fxw flex-wrap: ;

.u-fxd_c { flex-direction:column; }
.u-fxd_cr { flex-direction:column-reverse; }
.u-fxd_r { flex-direction:row; }
.u-fxd_rr { flex-direction:row-reverse; }
.u-fxw_n { flex-wrap:nowrap; }
.u-fxw_w { flex-wrap:wrap; }
.u-fxw_wr { flex-wrap:wrap-reverse; }
.u-jc_c { justify-content:center; }
.u-jc_fe { justify-content:flex-end; }
.u-jc_fs { justify-content:flex-start; }
.u-jc_sa { justify-content:space-around; }
.u-jc_sb { justify-content:space-between; }
