.lis_n { list-style: none; }
.lisp_i { list-style-position: inside; }
.lisp_o { list-style-position: outside; }
.list_n { list-style-type: none; }
.list_d { list-style-type: disc; }
.list_c { list-style-type: circle; }
.list_s { list-style-type: square; }
.list_dc { list-style-type: decimal; }
.list_dclz { list-style-type: decimal-leading-zero; }
.list_lr { list-style-type: lower-roman; }
.list_ur { list-style-type: upper-roman; }
.lisi_n { list-style-image: none; }
