.u-lis_n { list-style:none; }
.u-lisp_i { list-style-position:inside; }
.u-lisp_o { list-style-position:outside; }
.u-list_n { list-style-type:none; }
.u-list_d { list-style-type:disc; }
.u-list_c { list-style-type:circle; }
.u-list_s { list-style-type:square; }
.u-list_dc { list-style-type:decimal; }
.u-list_dclz { list-style-type:decimal-leading-zero; }
.u-list_lr { list-style-type:lower-roman; }
.u-list_ur { list-style-type:upper-roman; }
.u-lisi_n { list-style-image:none; }
