$SPACING_STEP: 5;
$SPACING_MAX_VALUE: 50;

@for $i from 1 through ($SPACING_MAX_VALUE / $SPACING_STEP) {
  $val: $i * $SPACING_STEP;

  // offsets
  .u-t_#{$val} { top: $val + px !important; }
  .u-b_#{$val} { bottom: $val + px !important; }
  .u-r_#{$val} { right: $val + px !important; }
  .u-l_#{$val} { left: $val + px !important; }

  // negative offsets
  .u-tn_#{$val} { top: -$val + px !important; }
  .u-bn_#{$val} { bottom: -$val + px !important; }
  .u-rn_#{$val} { right: -$val + px !important; }
  .u-ln_#{$val} { left: -$val + px !important; }  
}
