.ov_v { overflow: visible; }
.ov_h { overflow: hidden; }
.ov_s { overflow: scroll; }
.ov_a { overflow: auto; }
.ovx_v { overflow-x: visible; }
.ovx_h { overflow-x: hidden; }
.ovx_s { overflow-x: scroll; }
.ovx_a { overflow-x: auto; }
.ovy_v { overflow-y: visible; }
.ovy_h { overflow-y: hidden; }
.ovy_s { overflow-y: scroll; }
.ovy_a { overflow-y: auto; }
