.u-ov_v { overflow:visible; }
.u-ov_h { overflow:hidden; }
.u-ov_s { overflow:scroll; }
.u-ov_a { overflow:auto; }
.u-ovx_v { overflow-x:visible; }
.u-ovx_h { overflow-x:hidden; }
.u-ovx_s { overflow-x:scroll; }
.u-ovx_a { overflow-x:auto; }
.u-ovy_v { overflow-y:visible; }
.u-ovy_h { overflow-y:hidden; }
.u-ovy_s { overflow-y:scroll; }
.u-ovy_a { overflow-y:auto; }
