
.u-pgbb_au { page-break-before:auto; }
.u-pgbb_al { page-break-before:always; }
.u-pgbb_l { page-break-before:left; }
.u-pgbb_r { page-break-before:right; }
.u-pgbi_au { page-break-inside:auto; }
.u-pgbi_av { page-break-inside:avoid; }
.u-pgba_au { page-break-after:auto; }
.u-pgba_al { page-break-after:always; }
.u-pgba_l { page-break-after:left; }
.u-pgba_r { page-break-after:right; }
