.pgbb_au { page-break-before: auto; }
.pgbb_al { page-break-before: always; }
.pgbb_l { page-break-before: left; }
.pgbb_r { page-break-before: right; }
.pgbi_au { page-break-inside: auto; }
.pgbi_av { page-break-inside: avoid; }
.pgba_au { page-break-after: auto; }
.pgba_al { page-break-after: always; }
.pgba_l { page-break-after: left; }
.pgba_r { page-break-after: right; }
