$SPACING_STEP: 5;
$SPACING_MAX_VALUE: 50;

@for $i from 1 through ($SPACING_MAX_VALUE / $SPACING_STEP) {
  $val: $i * $SPACING_STEP;

  // margins
  .u-mt_#{$val} { margin-top: $val + px !important; }
  .u-mb_#{$val} { margin-bottom: $val + px !important; }
  .u-mr_#{$val} { margin-right: $val + px !important; }
  .u-ml_#{$val} { margin-left: $val + px !important; }

  // negative margins
  .u-mtn_#{$val} { margin-top: -$val + px !important; }
  .u-mbn_#{$val} { margin-bottom: -$val + px !important; }
  .u-mrn_#{$val} { margin-right: -$val + px !important; }
  .u-mln_#{$val} { margin-left: -$val + px !important; }

  // paddings
  .u-pt_#{$val} { padding-top: $val + px !important; }
  .u-pb_#{$val} { padding-bottom: $val + px !important; }
  .u-pr_#{$val} { padding-right: $val + px !important; }
  .u-pl_#{$val} { padding-left: $val + px !important; }
}
