.u-va_sup { vertical-align:super; }
.u-va_t { vertical-align:top; }
.u-va_tt { vertical-align:text-top; }
.u-va_m { vertical-align:middle; }
.u-va_bl { vertical-align:baseline; }
.u-va_b { vertical-align:bottom; }
.u-va_tb { vertical-align:text-bottom; }
.u-va_sub { vertical-align:sub; }

.u-ta_l { text-align:left; }
.u-ta_c { text-align:center; }
.u-ta_r { text-align:right; }
.u-ta_j { text-align:justify; }

.u-tal_a { text-align-last:auto; }
.u-tal_l { text-align-last:left; }
.u-tal_c { text-align-last:center; }
.u-tal_r { text-align-last:right; }

.u-td_n { text-decoration:none; }
.u-td_u { text-decoration:underline; }
.u-td_o { text-decoration:overline; }
.u-td_l { text-decoration:line-through; }

.u-te_n { text-emphasis:none; }
.u-te_ac { text-emphasis:accent; }
.u-te_dt { text-emphasis:dot; }
.u-te_c { text-emphasis:circle; }
.u-te_ds { text-emphasis:disc; }
.u-te_b { text-emphasis:before; }
.u-te_a { text-emphasis:after; }

.u-tt_n { text-transform:none; }
.u-tt_c { text-transform:capitalize; }
.u-tt_u { text-transform:uppercase; }
.u-tt_l { text-transform:lowercase; }

.u-tw_n { text-wrap:normal; }
.u-tw_no { text-wrap:none; }
.u-tw_u { text-wrap:unrestricted; }
.u-tw_s { text-wrap:suppress; }

.u-whs_n { white-space:normal; }
.u-whs_p { white-space:pre; }
.u-whs_nw { white-space:nowrap; }
.u-whs_pw { white-space:pre-wrap; }
.u-whs_pl { white-space:pre-line; }
