@use "sass:map";
@use "sass:list";

$BP_NAMES: map.keys($MQ_BREAKPOINTS);
$BP_VALUES: map.values($MQ_BREAKPOINTS);
$BP_COUNT: list.length($BP_NAMES);

@mixin each_breakpoint($selector) {
  @for $i from 1 through $BP_COUNT {
    $bp_name: list.nth($BP_NAMES, $i);
    $bp_value: list.nth($BP_VALUES, $i);
    // selector repeat needs to be done to increase specificity
    $result_selector: string-repeat(".#{$bp_name}\\:#{$selector}", $i + 1);

    @media only screen and (min-width: $bp_value) {
      #{unquote($result_selector)} {
        @content;
      }
    }
  }
}
