.cur_a { cursor: auto; }
.cur_d { cursor: default; }
.cur_c { cursor: crosshair; }
.cur_ha { cursor: hand; }
.cur_he { cursor: help; }
.cur_m { cursor: move; }
.cur_p { cursor: pointer; }
.cur_t { cursor: text; }
