@include each_breakpoint("w_a") { width: auto; }
@include each_breakpoint("w_100vw") { width: 100vw; }
@include each_breakpoint("h_a") { height: auto; }
@include each_breakpoint("h_100vh") { height: 100vh; }
@include each_breakpoint("maw_n") { max-width: none; }
@include each_breakpoint("mah_n") { max-height: none; }
@include each_breakpoint("miw_0") { min-width: 0; }
@include each_breakpoint("mih_0") { min-height: 0; }
@include each_breakpoint("miw_u") { min-width: unset; }
@include each_breakpoint("mih_u") { min-height: unset; }

@for $i from 1 through ($DIMENSIONS_MAX / $DIMENSIONS_STEP) {
  $val: $i * $DIMENSIONS_STEP;

  @include each_breakpoint("w_#{$val}") { width: $val + px; }
  @include each_breakpoint("h_#{$val}") { height: $val + px; }
  @include each_breakpoint("maw_#{$val}") { max-width: $val + px; }
  @include each_breakpoint("mah_#{$val}") { max-height: $val + px; }
  @include each_breakpoint("miw_#{$val}") { min-width: $val + px; }
  @include each_breakpoint("mih_#{$val}") { min-height: $val + px; }
}
