.va_sup {
  vertical-align: super;
}
.va_t {
  vertical-align: top;
}
.va_tt {
  vertical-align: text-top;
}
.va_m {
  vertical-align: middle;
}
.va_bl {
  vertical-align: baseline;
}
.va_b {
  vertical-align: bottom;
}
.va_tb {
  vertical-align: text-bottom;
}
.va_sub {
  vertical-align: sub;
}

.ta_l {
  text-align: left;
}
.ta_c {
  text-align: center;
}
.ta_r {
  text-align: right;
}
.ta_j {
  text-align: justify;
}

.tal_a {
  text-align-last: auto;
}
.tal_l {
  text-align-last: left;
}
.tal_c {
  text-align-last: center;
}
.tal_r {
  text-align-last: right;
}

.td_n {
  text-decoration: none;
}
.td_u {
  text-decoration: underline;
}
.td_o {
  text-decoration: overline;
}
.td_l {
  text-decoration: line-through;
}

.te_n {
  text-emphasis: none;
}
.te_ac {
  text-emphasis: accent;
}
.te_dt {
  text-emphasis: dot;
}
.te_c {
  text-emphasis: circle;
}
.te_ds {
  text-emphasis: disc;
}
.te_b {
  text-emphasis: before;
}
.te_a {
  text-emphasis: after;
}

.tt_n {
  text-transform: none;
}
.tt_c {
  text-transform: capitalize;
}
.tt_u {
  text-transform: uppercase;
}
.tt_l {
  text-transform: lowercase;
}

.tw_n {
  text-wrap: normal;
}
.tw_no {
  text-wrap: none;
}
.tw_u {
  text-wrap: unrestricted;
}
.tw_s {
  text-wrap: suppress;
}

.whs_n {
  white-space: normal;
}
.whs_p {
  white-space: pre;
}
.whs_nw {
  white-space: nowrap;
}
.whs_pw {
  white-space: pre-wrap;
}
.whs_pl {
  white-space: pre-line;
}
