@include class("cur_a") { cursor: auto; }
@include class("cur_d") { cursor: default; }
@include class("cur_c") { cursor: crosshair; }
@include class("cur_ha") { cursor: hand; }
@include class("cur_he") { cursor: help; }
@include class("cur_m") { cursor: move; }
@include class("cur_p") { cursor: pointer; }
@include class("cur_t") { cursor: text; }
