@include rule("w_a") { width: auto; }
@include rule("w_100vw") { width: 100vw; }
@include rule("w_100p") { width: 100%; }

@include rule("h_a") { height: auto; }
@include rule("h_100vh") { height: 100vh; }
@include rule("h_100p") { height: 100%; }

@include rule("maw_n") { max-width: none; }
@include rule("maw_100vh") { max-width: 100vw; }
@include rule("miw_0") { min-width: 0; }
@include rule("miw_u") { min-width: unset; }
@include rule("miw_100vh") { min-width: 100vw; }

@include rule("mah_n") { max-height: none; }
@include rule("mah_100vh") { max-height: 100vh; }
@include rule("mih_0") { min-height: 0; }
@include rule("mih_u") { min-height: unset; }
@include rule("mih_100vh") { min-height: 100vh; }

@for $i from 1 through ($DIMENSIONS_MAX / $DIMENSIONS_STEP) {
  $val: $i * $DIMENSIONS_STEP;

  @include rule("w_#{$val}") { width: $val + px; }
  @include rule("h_#{$val}") { height: $val + px; }
  @include rule("maw_#{$val}") { max-width: $val + px; }
  @include rule("mah_#{$val}") { max-height: $val + px; }
  @include rule("miw_#{$val}") { min-width: $val + px; }
  @include rule("mih_#{$val}") { min-height: $val + px; }
}

@for $i from 1 through 20 {
  $val: $i * 5;

  @include rule("w_#{$val}p") { width: unquote($val + "%"); }
  @include rule("h_#{$val}p") { height: unquote($val + "%"); }
  @include rule("maw_#{$val}p") { max-width: unquote($val + "%"); }
  @include rule("mah_#{$val}p") { max-height: unquote($val + "%"); }
  @include rule("miw_#{$val}p") { min-width: unquote($val + "%"); }
  @include rule("mih_#{$val}p") { min-height: unquote($val + "%"); }
}
