@include class("d_n") { display: none; }
@include class("d_b") { display: block; }
@include class("d_f") { display: flex; }
@include class("d_if") { display: inline-flex; }
@include class("d_i") { display: inline; }
@include class("d_ib") { display: inline-block; }
@include class("d_li") { display: list-item; }
@include class("d_ri") { display: run-in; }
@include class("d_cp") { display: compact; }
@include class("d_tb") { display: table; }
@include class("d_itb") { display: inline-table; }
@include class("d_tbcp") { display: table-caption; }
@include class("d_tbcl") { display: table-column; }
@include class("d_tbclg") { display: table-column-group; }
@include class("d_tbhg") { display: table-header-group; }
@include class("d_tbfg") { display: table-footer-group; }
@include class("d_tbr") { display: table-row; }
@include class("d_tbrg") { display: table-row-group; }
@include class("d_tbc") { display: table-cell; }

@include class("v_v") { visibility: visible; }
@include class("v_h") { visibility: hidden; }
@include class("v_c") { visibility: collapse; }
