// todo
// .fx flex:;
// .fxb flex-basis:;
// .fxf flex-flow:;
// .fxg flex-grow:;
// .fxsh flex-shrink:;

.fx_1 { flex: 1; }
.fx_00a { flex: 0 0 auto; }

@for $i from 1 through 20 {
  $val: $i * 5;
  .fxb_#{$val}p { flex-basis: unquote($val + "%"); }
}

.fxd_c { flex-direction: column; }
.fxd_cr { flex-direction: column-reverse; }
.fxd_r { flex-direction: row; }
.fxd_rr { flex-direction: row-reverse; }

.fxw_n { flex-wrap: nowrap; }
.fxw_w { flex-wrap: wrap; }
.fxw_wr { flex-wrap: wrap-reverse; }

.jc_c { justify-content: center; }
.jc_fe { justify-content: flex-end; }
.jc_fs { justify-content: flex-start; }
.jc_sa { justify-content: space-around; }
.jc_sb { justify-content: space-between; }

.ac_c { align-content: center; }
.ac_fe { align-content: flex-end; }
.ac_fs { align-content: flex-start; }
.ac_s { align-content: stretch; }
.ac_sa { align-content: space-around; }
.ac_sb { align-content: space-between; }

.ai_b { align-items: baseline; }
.ai_c { align-items: center; }
.ai_fe { align-items: flex-end; }
.ai_fs { align-items: flex-start; }
.ai_s { align-items: stretch; }
