@include rule("fw_n") { font-weight: normal; }
@include rule("fw_b") { font-weight: bold; }
@include rule("fw_br") { font-weight: bolder; }
@include rule("fw_lr") { font-weight: lighter; }
@include rule("fw_100") { font-weight: 100; }
@include rule("fw_200") { font-weight: 200; }
@include rule("fw_300") { font-weight: 300; }
@include rule("fw_400") { font-weight: 400; }
@include rule("fw_500") { font-weight: 500; }
@include rule("fw_600") { font-weight: 600; }
@include rule("fw_700") { font-weight: 700; }
@include rule("fw_800") { font-weight: 800; }
@include rule("fw_900") { font-weight: 900; }

@include rule("fs_n") { font-style: normal; }
@include rule("fs_i") { font-style: italic; }
@include rule("fs_o") { font-style: oblique; }

@each $val in $FONT_SIZES_IN_PX {
  @include rule("fz_#{$val}") { font-size: $val + px; }
}
