@include rule("t_u") { top: unset; }
@include rule("b_u") { bottom: unset; }
@include rule("r_u") { right: unset; }
@include rule("l_u") { left: unset;  }

@for $i from 0 through ($OFFSET_MAX / $OFFSET_STEP) {
  $val: $i * $OFFSET_STEP;

  @include rule("t_#{$val}") { top: $val + px; }
  @include rule("b_#{$val}") { bottom: $val + px; }
  @include rule("r_#{$val}") { right: $val + px; }
  @include rule("l_#{$val}") { left: $val + px; }

  @include rule("t_-#{$val}") { top: -$val + px; }
  @include rule("b_-#{$val}") { bottom: -$val + px; }
  @include rule("r_-#{$val}") { right: -$val + px; }
  @include rule("l_-#{$val}") { left: -$val + px; }
}


@for $i from 1 through 20 {
  $val: $i * 5;

  .t_#{$val}p { top: unquote($val + "%"); }
  .b_#{$val}p { bottom: unquote($val + "%"); }
  .r_#{$val}p { right: unquote($val + "%"); }
  .l_#{$val}p { left: unquote($val + "%"); }

  .t_-#{$val}p { top: unquote(-$val + "%"); }
  .b_-#{$val}p { bottom: unquote(-$val + "%"); }
  .r_-#{$val}p { right: unquote(-$val + "%"); }
  .l_-#{$val}p { left: unquote(-$val + "%"); }

}
