@include each_breakpoint("t_u") { top: unset; }
@include each_breakpoint("b_u") { bottom: unset; }
@include each_breakpoint("r_u") { right: unset; }
@include each_breakpoint("l_u") { left: unset;  }

@for $i from 1 through ($OFFSET_MAX / $OFFSET_STEP) {
  $val: $i * $OFFSET_STEP;

  @include each_breakpoint("t_#{$val}") { top: $val + px; }
  @include each_breakpoint("b_#{$val}") { bottom: $val + px; }
  @include each_breakpoint("r_#{$val}") { right: $val + px; }
  @include each_breakpoint("l_#{$val}") { left: $val + px; }

  @include each_breakpoint("t_-#{$val}") { top: -$val + px; }
  @include each_breakpoint("b_-#{$val}") { bottom: -$val + px; }
  @include each_breakpoint("r_-#{$val}") { right: -$val + px; }
  @include each_breakpoint("l_-#{$val}") { left: -$val + px; }
}
