.t_u { top: unset; }
.b_u { bottom: unset; }
.r_u { right: unset; }
.l_u { left: unset;  }

@for $i from 0 through ($OFFSET_MAX / $OFFSET_STEP) {
  $val: $i * $OFFSET_STEP;

  .t_#{$val} { top: $val + px; }
  .b_#{$val} { bottom: $val + px; }
  .r_#{$val} { right: $val + px; }
  .l_#{$val} { left: $val + px; }

  .t_-#{$val} { top: -$val + px; }
  .b_-#{$val} { bottom: -$val + px; }
  .r_-#{$val} { right: -$val + px; }
  .l_-#{$val} { left: -$val + px; }
}


@for $i from 1 through 20 {
  $val: $i * 5;

  .t_#{$val}p { top: unquote($val + "%"); }
  .b_#{$val}p { bottom: unquote($val + "%"); }
  .r_#{$val}p { right: unquote($val + "%"); }
  .l_#{$val}p { left: unquote($val + "%"); }

  .t_-#{$val}p { top: unquote(-$val + "%"); }
  .b_-#{$val}p { bottom: unquote(-$val + "%"); }
  .r_-#{$val}p { right: unquote(-$val + "%"); }
  .l_-#{$val}p { left: unquote(-$val + "%"); }

}
