@include class("ov_v") { overflow: visible; }
@include class("ov_h") { overflow: hidden; }
@include class("ov_s") { overflow: scroll; }
@include class("ov_a") { overflow: auto; }
@include class("ovx_v") { overflow-x: visible; }
@include class("ovx_h") { overflow-x: hidden; }
@include class("ovx_s") { overflow-x: scroll; }
@include class("ovx_a") { overflow-x: auto; }
@include class("ovy_v") { overflow-y: visible; }
@include class("ovy_h") { overflow-y: hidden; }
@include class("ovy_s") { overflow-y: scroll; }
@include class("ovy_a") { overflow-y: auto; }
