@include each_breakpoint("va_sup") { vertical-align: super; }
@include each_breakpoint("va_t") { vertical-align: top; }
@include each_breakpoint("va_tt") { vertical-align: text-top; }
@include each_breakpoint("va_m") { vertical-align: middle; }
@include each_breakpoint("va_bl") { vertical-align: baseline; }
@include each_breakpoint("va_b") { vertical-align: bottom; }
@include each_breakpoint("va_tb") { vertical-align: text-bottom; }
@include each_breakpoint("va_sub") { vertical-align: sub; }

@include each_breakpoint("ta_l") { text-align: left; }
@include each_breakpoint("ta_c") { text-align: center; }
@include each_breakpoint("ta_r") { text-align: right; }
@include each_breakpoint("ta_j") { text-align: justify; }

@include each_breakpoint("tal_a") { text-align-last: auto; }
@include each_breakpoint("tal_l") { text-align-last: left; }
@include each_breakpoint("tal_c") { text-align-last: center; }
@include each_breakpoint("tal_r") { text-align-last: right; }

@include each_breakpoint("td_n") { text-decoration: none; }
@include each_breakpoint("td_u") { text-decoration: underline; }
@include each_breakpoint("td_o") { text-decoration: overline; }
@include each_breakpoint("td_l") { text-decoration: line-through; }

@include each_breakpoint("te_n") { text-emphasis: none; }
@include each_breakpoint("te_ac") { text-emphasis: accent; }
@include each_breakpoint("te_dt") { text-emphasis: dot; }
@include each_breakpoint("te_c") { text-emphasis: circle; }
@include each_breakpoint("te_ds") { text-emphasis: disc; }
@include each_breakpoint("te_b") { text-emphasis: before; }
@include each_breakpoint("te_a") { text-emphasis: after; }

@include each_breakpoint("tt_n") { text-transform: none; }
@include each_breakpoint("tt_c") { text-transform: capitalize; }
@include each_breakpoint("tt_u") { text-transform: uppercase; }
@include each_breakpoint("tt_l") { text-transform: lowercase; }

@include each_breakpoint("whs_n") { white-space: normal; }
@include each_breakpoint("whs_p") { white-space: pre; }
@include each_breakpoint("whs_nw") { white-space: nowrap; }
@include each_breakpoint("whs_pw") { white-space: pre-wrap; }
@include each_breakpoint("whs_pl") { white-space: pre-line; }
